.side-bar {
	padding: 20px 0;
	height: 100vh;
	width: 100px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	position: sticky;
	top: 0;
	left: 0;

	.social-links {
		display: flex;
		transform: rotate(-90deg);
		position: absolute;
		bottom: 35%;
	}
	.social-links li {
		float: left;
		padding: 0 50px;
		font-size: 12px;
		a {
			color: white;
			text-decoration: none;
			text-transform: uppercase;
		}
	}
}
